---
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: 'false'
AlignTrailingComments: true
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentWidth: 8
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpacesInParentheses: false
TabWidth: 8
UseTab: ForContinuationAndIndentation

