---
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: true
BreakBeforeBraces: Linux
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentWidth: 8
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
TabWidth: 8
UseTab: ForContinuationAndIndentation

